/* apply to the entire html page */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */ /* inelegant way of removing white space due to inproper layout, avoided. */
}

.blank {
  width: 100%;
  height: 10vh;
}