/* --- Experience Timeline Section --- */
.company_name {
    font-family: 'Georgia', serif;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    line-height: 0%;
    flex-wrap: wrap; /* Allows children like <h4> to wrap */
}

.company_name h4 {
    white-space: normal; /* default: allows wrapping */
    font-size: 3vw;
  }

.experience_timeline {
    position: relative;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.job_container {
    position: relative;
    width: 100%;
    max-height: 80vh;
    display: flex;
    justify-content: space-between; /* Align jobs left and right */
    margin: 5vh 0; /* Vertical spacing between jobs */
}

.job_info {
    position: relative;
    padding-left: 10%;
    width: 40%;
    background: linear-gradient(to right, rgba(179, 179, 179, 0.5), rgba(200, 200, 200, 0.1));
}

.job_info h3 {
  margin: 10px 0;
  font-weight: 300; /* Thin font */
  font-size: 1.2vw;
}

.job_info h4 {
  font-size: 2vw;
}

.centered_company_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.6s ease, transform 0.6s ease;
  width: 15%;
}

.centered_company_logo:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.6),
              0 0 50px rgba(255, 255, 255, 0.4);
  transform: translate(-50%, -50%) scale(1.1);
}

/* company image */
.centered_company_logo img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 50%;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

/* style for the dashline*/
.experience_timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 0.1vw;
  min-width: 0.1px;
  height: 100%;
  background: repeating-linear-gradient(to bottom, #979595 0%, #979595 5px, transparent 10px, transparent 20px);
  transform: translateX(-50%);
  z-index: 0; /* Behind all job content */
}