/* Text styles. */
.pitch_title_style {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 500%;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    /* Type and hide effects. */
    align-self: center;
    justify-self: center;
}

.huge_title_style {
    text-align: center;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 500%;
}


.title_style {
    font-family: 'Piazzolla', serif;
    font-size: 200%;
    padding: 5%;
}

.paragraph_style {
    font-size: 150%;
}
