.huge_title_style {
    text-align: center;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 500%;
}


.title_style {
    font-family: 'Piazzolla', serif;
    font-size: 200%;
    padding: 5%;
}

.paragraph_style {
    font-size: 150%;
}
