/* fonts.css */
/* Following styles are used for bibliography contents sections in index.html. */
.huge_title_style {
    text-align: center;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 500%;
}

.paragraph_style {
    font-size: 150%;
}
