<style>
    /* 00. For entire sheet. */
    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    /* 01. Navbar styles are in navbar.css. */

    /* 02. Pitch Images Slides. (blurred background, pictch line text.) are in pitch_slides.css. */

    /* 03. Bibliography sections with paraphical contents. */

    /* 04. Footer (copyright statement section.) */
    .footer {
        background: black;
        background-size: cover;
        color: white;
        display: flex; /* Display it in a row. */
        font-family: 'Georgia', sans-serif;
        justify-content: center; /* Aligns the flex item (copyright texts) in the middle horizontally.*/
        padding: 30px 0;
        text-align: center;
    }

</style>