/* styles: parent vertical navigation bar */
.nav_list {
    display: flex;
    flex-direction: column;

    /* position: fixed on viewport on scrolling */
    position: fixed;
    top:0;
    padding: 0;
    margin: 0;

    /* shape: round corner */
    border-bottom-right-radius: 1vw;

    /* layer: above all other layer */
    z-index: 999;

    /* color and transparency */
    background-color: rgba(203, 203, 203, 0.2);
    /* effect: frosted glass effect */
    backdrop-filter: blur(0.8vh);

    /* centers multiple rows or columns along the cross axis*/
    align-content: center;

    /* damping effect on sudden hover, gradual transition*/
    transition: width 1.5s ease, height 1.5s ease;

    /* by default nav list height = MENU icon + text height, which is 2 vh + padding top 1vh + padding bottom 1vh = 4vh */
    /* this should show only 'MENU'(text) without list items */
    height: 5vh;
    overflow: hidden;
}

.nav_list li{
    padding: 1vh;
    margin: 0;
    justify-items: center; /* center navbar options */
    /* without user hovering on the menu, hide all list items explicitly */
}

.nav_list.expanded {
    /* on hover, the navbar expands to 100% viewport height, options are then visible to user. */
    height: 100vh;
}


.nav_list.expanded li{
    /* all list items shows up */
    display: block;
}

.nav_list_menu{
    place-items: center;
    /* center y-axis */
    align-items: center;
    /* center x-axis*/
    justify-content: center;
}

#menu_button {
    background-color: transparent;
    place-self: center;
    place-items: center;
    border: none;
    width: 100%;
}

#menu_button img {
    aspect-ratio: 1 / 1;
    max-width: 20px;
    height: auto;
}

/* styles: list item hyperlink */
.nav_list li a {
    /* make text like rectangle filling full width of parent, more click area */
    display: block;
    width: auto;

    position: relative;

    /* Allows long words or URLs to break and wrap to the next line. */
    overflow-wrap: break-word;

    /* Removes default bullets or numbers */
    list-style: none;

    /* add padding */
    padding-top: 3vh;
    padding-bottom: 3vh;

    /* text font */
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 1.5vw;

    /* slow transition on hover */
    transition: background-position 0.6s ease-in-out;

    /* clickable */
    cursor: pointer;

    /* layer */
    z-index: 1;

    /* text color - gradient, to be combined with li a:hover effect */
    background: linear-gradient(270deg, #ffffff, #7cc0ff, #0080ff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* On hover, shifts the gradient position to create a dynamic animation effect */
.nav_list li a:hover {
    background-position: right center;
}

/* style for mobile device of small max-width */
@media (max-width: 768px) {
    .nav_list {
        min-width: 26vw;
        min-height: 8vh;
    }
    .nav_list li a {
        font-size: 4vw;
    }
}

