/* photo_gallery.css */
/* Following styles are used for four-pane-window-like gallery in bibliography contents sections in index.html. */
.photo_gallery {
    align-self: center;
    margin: auto;
    display: grid;
    height: fit-content;    /* Force height to be the sum of a column's picture heights. */
    grid-template-columns: 1fr 1fr; /* Each row has two pictures. */
    max-width: 40%;
    padding: 5%;
    background-color: transparent; /* Padding uses default white background color, this sets transparent instead. */
}

.photo_gallery img{
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    height: auto;
    transition: 1s ease;
}

.photo_gallery img:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: 1s ease;
}

