/* photo_gallery.css */
/* Following styles are used for four-pane-window-like gallery in bibliography contents sections in index.html. */
.photo_gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    height: fit-content;    /* Force height to be the sum of a column's picture heights. */
    max-width: 100vw;
    background-color: transparent; /* Padding uses default white background color, this sets transparent instead. */
}

.photo_gallery img{
    max-width: 60vw;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px; /* 稍微圆角更显高级感 */
}

.photo_gallery img:hover{
    transform: none;
}

/*
.photo_gallery img:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: 1s ease;
}
*/

