
/* --- Self Introduction Section --- */
#personal_profile_container {
    min-height: 100vh;
    align-content: center;
    width: 80vw;
    margin: 0 auto;  /* top/bottom 0, left/right auto centers horizontally */
}

#my_profile {
    display: flex;
    flex-direction: row;        /* horizontal layout */
    justify-content: center;    /* center along the main axis (X-axis) */
    align-items: center;        /* center vertically (Y-axis) */
    width: 100%;                /* ensure it spans horizontally */
}

.round_avatar {
    display: flex;            /* helps the round_avatar img to center */
    width: auto;              /* Ensure it spans available width */
    height: auto;             /* Or adjust this to suit layout */
    position: relative;
    justify-content: center;
    align-items: center;

    /*  15% of the viewport width. */
    min-width: 300px;
    max-width: 15vw;

    /* Trim image outside the circle */
    overflow: hidden;

    /* space around avatar */
    padding: 5vw;

    /* DEBUG */
    /* background: rgba(255, 0, 0, 0.1); */
}

.round_avatar img {
    /* Maintain circular shape, take width of parent container */
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;

    /* Crop image to fill circle */
    object-fit: cover;

    /* 3D effect */
    transition: transform 0.3s ease;
}

.round_avatar img:hover {
    /* 3D tile effect, perspective(px) creates a perspective effect like 3D*/
    transform: perspective(800px) rotateX(0deg) rotateY(0deg) scale(1.05);
}

.pitch_text_font {
    line-height: 200%;  /* vertical distance between each line */
    font-family: 'Georgia', serif;
    font-size: 2vh;
    color: black;
}


/* Media query, conditional css for smaller screen (mobile) with width < 768 pixels */
@media (max-width: 768px) {
    #my_profile {
        /* display avatar and pitch text vertically instead */
        display: flex;
        flex-direction: column;
        align-items: center;      /* <-- horizontally center items in column layout */
        margin: 0 auto;           /* <-- horizontally center the container itself if it has a parent */
    }

    .round_avatar {
        /* Make avatar span full width */
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        /* background: rgba(255, 0, 0, 0.1); */ /* DEBUG */
    }
    .round_avatar img {
        /* image size */
        width: 150px;
        height: 150px;
      }

    .pitch_text {
        margin-right: 0;
        padding: 0;
        width: 90vw;
    }

    .pitch_text_font {
        font-size: 1.5vh;
    }
}



