/* Grid container */
.featured_projects {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 20px;              /* Space between rows */
    align-items: center;    /* Center items horizontally */
    margin: 20px auto;
    /* paint background color */
    background: rgba(210, 240, 255, 0.074); /* translucent white */
    padding: 1vh;
    backdrop-filter: blur(10px); /* creates the frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

.proj_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 80vw;
    width: 80vw;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .proj_title_font {
    margin: 0;
    font-size: 2vw;
    margin-bottom: 12px;
  }

  .proj_image_set {
    justify-content: center;
    justify-items: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;
    max-width: 90%;
    margin-bottom: 12px;
    transition: transform 1.0s ease;
  }

  .proj_image_set img {
    width: 80%;
    max-width: 60vw;
    max-height: 30vh;
    object-fit: cover;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: 2s ease;
  }

  /*
  .proj_image_set img:hover {
    transform: scale(3);
    transition: 3s ease;
  }
  */

  .proj_image {
    max-width: auto;
    height: 100vh;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  #yesrtos_logo {
    max-width: 20vw;
    aspect-ratio: 1 / 1;
    height: auto;
  }

  /* on hover, the item specifying this class will be able to be scaled to view better */
  .hover_scalable:hover {
    transform: scale(2.0);
    transition: transform 1.0s ease;
  }

  .proj_description {
    margin: 10px 0;
    font-weight: normal;
    max-width: 90%;
    font-size: 1rem;
  }

  .proj_tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }

  .tag {
    background-color: #333;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
  }

/* style on a mobile device */
@media (max-width: 768px) {
  .proj_title_font {
    margin: 0;
    font-size: 5vw;
    margin-bottom: 12px;
  }

  /* adjust project image width */
  .proj_image {
    max-width: 95vw;
    height: auto;
  }

  /* make project image sets scalable on click */
  .proj_image_set img:hover {
    transform: scale(3);
  }

  .proj_image_set img {
    max-width: 60vw;
    max-height: 10vh;
    object-fit: cover;
  }

  .proj_tags {
    /* hide tags */
    display: none;
  }
}
