<style>
    /* 00. For entire sheet. */ 
    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }



    /* 01. Navbar styles are in navbar.css. */



    /* 02. Pitch Images Slides. (blurred background, pictch line text.) */
    .pitch_image_slide {
        background-position: center;  /* Center the images. */
        background-repeat: no-repeat;
        background-size: cover; /* Crop images to fill entire horizontal space. */
        filter: blur(3px);  /* Blur effects. */
        -webkit-filter: blur(3px); 
        height: 50%; 
    }

    /* List of background images in the pitch image slide. */
    .img1 { background-image: url("media/pitch_deck/pitch_deck_07.jpg"); }
    .img2 { background-image: url("media/pitch_deck/pitch_deck_09.JPG"); }
    .img3 { background-image: url("media/pitch_deck/pitch_deck_01.png"); }
    .img4 { background-image: url("media/pitch_deck/pitch_deck_06.png"); }
    .img5 { background-image: url("media/pitch_deck/pitch_deck_10.JPG"); }
    .img6 { background-image: url("media/pitch_deck/pitch_deck_15.jpg"); }

    .pitch_line {
        background-color: rgba(0, 0, 0, 0.7);  /* Make pitch line background black, with tranparency (alpha): 0.4. */ 
        border: 10px solid #f1f1f1;
        color: white; /* white font */
        font-weight: bold;
        font-size: 600%; /* Add empty space between the frame and text.  */
        padding: 5%; /* Center the pitch line. */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: auto;
        height: auto;
    }


  
    /* 03. Bibliography sections with actual paraphical contents. */
    .bibliography_paragraph {
        background-color: white;
        height: auto; /* Set 100% forces body to use height of the content. */ 
        width: 100%;
        display: flex;
        scroll-margin-top: 300px;
    }
    
    .bibliography_paragraph p {
        padding-left: 5%;
    }

    .bibliography_paragraph img {
        align-self: center;
        background-color: white; 
        max-width: 30%;
        object-fit: scale-down; /* Scale image, keep height-width ratio. */ 
        padding-left: 5%; /* Add empty space to left and right of the image. */ 
        padding-right: 5%;
        transition: 1s ease;
        justify-content: center;
    }

    .bibliography_paragraph img:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
    }
    
    /* 04. Footer (copyright statement section.) */
    .footer {
        background: black;
        background-size: cover;
        color: white;
        display: flex; /* Display it in a row. */
        font-family: 'Ubuntu', sans-serif;
        justify-content: center;
        padding: 30px 0;
        text-align: center;
    }

</style>