<style>

    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    /* Select all elements */
    * {
        padding: 0px;
    }

    * div {
        padding: 0px;
    }
    
    .bg-image {
        /* Full height */
        height: 50%; 
        -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
        filter: blur(5px);
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Position text in the middle of the page/image */
    .bg-text {
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      font-size: 80px;
      border: 10px solid #f1f1f1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: auto;
      height: auto;
      padding: 20px;
      text-align: center;
      position: fixed;
    }

    /* Images used */
    .img1 { background-image: url("media/pitch_deck/pitch_deck_07.jpg"); }
    .img2 { background-image: url("media/pitch_deck/pitch_deck_09.JPG"); }
    .img3 { background-image: url("media/pitch_deck/pitch_deck_01.png"); }
    .img4 { background-image: url("media/pitch_deck/pitch_deck_13.jpg"); }
    .img5 { background-image: url("media/pitch_deck/pitch_deck_10.JPG"); }
    .img6 { background-image: url("media/pitch_deck/pitch_deck_14.jpg"); }
    
    
    /* Navigation Bar. */
    .navbar {
        cursor: pointer;
        background: black;
        background-blend-mode: darken;
        background-size: cover;
        display: flex;
        height: 40%;
        justify-content: center;
        /* top must be specified for the navbar to be sticky. */ 
        top: 0%;
        position: sticky; /* Allows the navbar to be always within the page. */
    }

    /* The profile picture in the navigation bar. */
    .profile_pic {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_profile_pic img {
        width: 30%;
        border-radius: 20%;
    }

    /* List of items in the navigation bar. */
    .nav_list {
        align-items: center;
        display: flex;
        width: 70%;
    }

    .nav_list li {
        list-style: none;
        padding: 26px 30px;
        font-size: 140%;
    }
 
    .nav_list li a {
        text-decoration: none;
        color: white;
    }
 
    /* Text cover changes when a pointer is hovered over it. */
    .nav_list li a:hover {
        color: silver;
    }

    .bibliography_paragraph {
        background-color: white;
        height: auto; /* Set 100% forces body to use height of the content. */ 
        width: 100%;
        display: flex;
        scroll-margin-top: 300px;
    }
    
    .bibliography_paragraph p {
        padding-left: 5%;
    }

    .bibliography_paragraph img {
        align-self: center;
        background-color: white; 
        max-width: 30%;
        /* Scale image. */ 
        object-fit: scale-down;
        /* Add empty space to left and right of the image. */
        padding-left: 5%;
        padding-right: 5%;
        transition: 1s ease;
        justify-content: center;

    }

    .bibliography_paragraph img:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
    }
    

    /* Footer (copyright statement section.) */
    .footer {
        text-align: center;
        padding: 30px 0;
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        justify-content: center;
        color: white;
        background: black;
        background-blend-mode: darken;
        background-size: cover;
    }

</style>