<style>


    /* Select all elements */
    * {
        margin: 0px;
        padding: 0px;
    }

    div * {
        padding: 0px;
    }

    /* Text styles. */
    .title_style {
        font-family: 'Piazzolla', serif;
        font-weight: bold;
        font-size: 200%;
        padding: 5%;
    }
 
    .paragraph_style {
        font-size: 150%;
        padding-left: 8%;
    }

    /* Navigation Bar. */
    .navbar {
        cursor: pointer;
        display: flex;
        height: 300px;
        justify-content: center;
        position: sticky; /* Allows the navbar to be always within the page. */
        top: 0;
        background: black;
        background-blend-mode: darken;
        background-size: cover;
    }

    /* The profile picture in the navigation bar. */
    .profile_pic {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_profile_pic img {
        width: 30%;
        border-radius: 30%;
    }

    /* List of items in the navigation bar. */
    .nav_list {
        align-items: center;
        display: flex;
        width: 70%;
    }

    .nav_list li {
        list-style: none;
        padding: 26px 30px;
    }
 
    .nav_list li a {
        text-decoration: none;
        color: white;
    }
 
    /* Text cover changes when a pointer is hovered over it. */
    .nav_list li a:hover {
        color: silver;
    }
 
    /* Wrapper for all the real content regions below. */
    section *{
        margin: 0px;    /* Leave no white gap between sections. */
    }

    .self_introduction {
        background-color: snow;
        /* height: 100%; browser force the body to be the height of the content. */
        height: 700px;
        scroll-margin-top: 300px;
    }
 
    .photography {
        background-color: whitesmoke;
        /* height: 100%; browser force the body to be the height of the content. */
        height: 700px;
        scroll-margin-top: 300px; /* Prevent sticky navbar from hiding top of the section. */
    }

    .cuisine {
        background-color: snow;
        /* height: 100%; browser force the body to be the height of the content. */
        height: 700px;
        scroll-margin-top: 300px;
    }

    /* Footer (copyright statement section.) */
    .footer {
        text-align: center;
        padding: 30px 0;
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        justify-content: center;
        color: white;
        background: black;
        background-blend-mode: darken;
        background-size: cover;
    }

</style>